/* Admin.css */
.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.table-container {
  width: 60%; /* Adjusted to make the table box smaller */
  margin: 0 auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 20px;
  background-color: #fff;
}

.admin-table th,
.admin-table td {
  padding: 8px 10px; /* Reduced padding to make it more compact */
  border: 1px solid #ddd;
}

.admin-table th {
  background-color: #4ca8af;
  color: white;
}

.admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-table tr:hover {
  background-color: #ddd;
}
